/**/
.fundo{
  width: 90%;
  margin:20px;
  background-color: blanchedalmond;
  border-radius:20px;
}

.linha{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.linha button{
  font-size: 25px;
}

